In [1]:
import pandas as pd
sheet_id = 'LinkofGooglesheet'
df = pd.read_csv(f"https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=csv")
df.head()

,datetime,session_id,visitor_id,is_internal_ip,page_type,event_type,params,om_source,device_class,env
0,2021-01-23 11:57:09.286 UTC,56b8ee8e3467edb774252ddeec6d9243e13b5fc9,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_gallery_opened,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",NaN,phone,production
1,2021-01-23 11:57:02.303 UTC,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_date_init,"{""event_content"":{""start"":""2021-08-01"",""end"":""...",nestpick,phone,production
2,2021-01-23 11:57:01.873999 UTC,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",nestpick,phone,production
3,2021-01-23 11:57:02.028 UTC,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",nestpick,phone,production
4,2021-01-23 11:57:04.349 UTC,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,cookie_banner_all_cookies,"{""page"":{""title"":""EXKLUSIVE WOHNUNG SALAMANCA ...",nestpick,phone,production

In [2]:
df.shape

(76538, 10)

In [3]:
round(100 *df.isna().sum() / df.shape[0], 2).to_frame()

                    0
datetime         0.00
session_id       0.52
visitor_id       0.32
is_internal_ip   0.00
page_type        0.30
event_type       0.00
params           0.00
om_source       47.09
device_class     0.00
env              0.00

In [4]:
df["env"].value_counts()

production     76483
development       55
Name: env, dtype: int64

In [5]:
df1 = df[df["env"]=='production']
df1

,datetime,session_id,visitor_id,is_internal_ip,page_type,event_type,params,om_source,device_class,env
0,2021-01-23 11:57:09.286 UTC,56b8ee8e3467edb774252ddeec6d9243e13b5fc9,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_gallery_opened,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",NaN,phone,production
1,2021-01-23 11:57:02.303 UTC,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_date_init,"{""event_content"":{""start"":""2021-08-01"",""end"":""...",nestpick,phone,production
2,2021-01-23 11:57:01.873999 UTC,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",nestpick,phone,production
3,2021-01-23 11:57:02.028 UTC,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",nestpick,phone,production
4,2021-01-23 11:57:04.349 UTC,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,cookie_banner_all_cookies,"{""page"":{""title"":""EXKLUSIVE WOHNUNG SALAMANCA ...",nestpick,phone,production
...,...,...,...,...,...,...,...,...,...,...
76533,2021-01-23 12:58:08.093999 UTC,8bc40fec35a79acf0248fa42afcff0a2c232d53d,a0e77abef642ebc507e1d7636680f59300396514,False,apartment_view,apartment_image_gallery_swipe,"{""event_content"":{""ga"":{""category"":""Tile Pictu...",facebook,phone,production
76534,2021-01-23 14:48:29.653 UTC,02cd3cb1ea4f9bffedfcfc694459072c18364bc4,ed2f8bb5a943dccd935170b7f06895732b710392,False,apartment_view,apartment_date_init,"{""event_content"":{""start"":""2021-02-01"",""end"":""...",facebook,phone,production
76535,2021-01-23 13:07:43.169999 UTC,9d82efe6b326b54660893bafd61ce0c26de2d341,460bf530d5efbd784335e4dc2f15692e97573e3a,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""Nice apar...",facebook,phone,production
76536,2021-01-23 13:07:42.997 UTC,9d82efe6b326b54660893bafd61ce0c26de2d341,460bf530d5efbd784335e4dc2f15692e97573e3a,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",facebook,phone,production
76537,2021-01-23 13:14:31.409999 UTC,NaN,NaN,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",NaN,other,production

In [6]:
df1["is_internal_ip"].value_counts()

False    76483
Name: is_internal_ip, dtype: int64

In [7]:
df1 = df1.dropna(subset=["session_id"])
df1

,datetime,session_id,visitor_id,is_internal_ip,page_type,event_type,params,om_source,device_class,env
0,2021-01-23 11:57:09.286 UTC,56b8ee8e3467edb774252ddeec6d9243e13b5fc9,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_gallery_opened,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",NaN,phone,production
1,2021-01-23 11:57:02.303 UTC,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_date_init,"{""event_content"":{""start"":""2021-08-01"",""end"":""...",nestpick,phone,production
2,2021-01-23 11:57:01.873999 UTC,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",nestpick,phone,production
3,2021-01-23 11:57:02.028 UTC,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",nestpick,phone,production
4,2021-01-23 11:57:04.349 UTC,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,cookie_banner_all_cookies,"{""page"":{""title"":""EXKLUSIVE WOHNUNG SALAMANCA ...",nestpick,phone,production
...,...,...,...,...,...,...,...,...,...,...
76532,2021-01-23 13:06:10.991 UTC,8bc40fec35a79acf0248fa42afcff0a2c232d53d,a0e77abef642ebc507e1d7636680f59300396514,False,apartment_view,apartment_image_gallery_swipe,"{""event_content"":{""ga"":{""category"":""Tile Pictu...",facebook,phone,production
76533,2021-01-23 12:58:08.093999 UTC,8bc40fec35a79acf0248fa42afcff0a2c232d53d,a0e77abef642ebc507e1d7636680f59300396514,False,apartment_view,apartment_image_gallery_swipe,"{""event_content"":{""ga"":{""category"":""Tile Pictu...",facebook,phone,production
76534,2021-01-23 14:48:29.653 UTC,02cd3cb1ea4f9bffedfcfc694459072c18364bc4,ed2f8bb5a943dccd935170b7f06895732b710392,False,apartment_view,apartment_date_init,"{""event_content"":{""start"":""2021-02-01"",""end"":""...",facebook,phone,production
76535,2021-01-23 13:07:43.169999 UTC,9d82efe6b326b54660893bafd61ce0c26de2d341,460bf530d5efbd784335e4dc2f15692e97573e3a,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""Nice apar...",facebook,phone,production
76536,2021-01-23 13:07:42.997 UTC,9d82efe6b326b54660893bafd61ce0c26de2d341,460bf530d5efbd784335e4dc2f15692e97573e3a,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",facebook,phone,production

In [8]:
df1 = df1.dropna(subset=["page_type"])

In [9]:
df1 = df1.dropna(subset=["event_type"])

In [10]:
round(100 *df1.isna().sum() / df1.shape[0], 2).to_frame()

                    0
datetime         0.00
session_id       0.00
visitor_id       0.00
is_internal_ip   0.00
page_type        0.00
event_type       0.00
params           0.00
om_source       46.76
device_class     0.00
env              0.00

In [11]:
output={}

In [12]:
output.update({"analysis 1":df1["device_class"].value_counts().to_dict()})

In [13]:
output

{'analysis 1': {'phone': 42968,
  'desktop': 30924,
  'tablet': 1951,
  'bot': 17,
  'other': 1}}

In [14]:
df2 = df1.fillna(value={'om_source': 'no_om_source'})

In [15]:
df2['om_source'].value_counts()

no_om_source        35472
adwords             24463
nestpick             6074
facebook             2141
trovit               2086
hometogo             1767
mitula               1086
rentberry             426
criteo                398
bing                  393
immosuchmaschine      296
cityads               271
immowelt              263
immobilienscout       232
iamexpat              184
email_mc              117
idealista              85
enalquiler             57
landlord-contact       32
mitula-be               8
Fotocasa                3
holidu                  3
sublet                  3
instagram               1
Name: om_source, dtype: int64

In [16]:

output.update({"analysis 2":df2['om_source'].value_counts().to_dict()})
output

{'analysis 1': {'phone': 42968,
  'desktop': 30924,
  'tablet': 1951,
  'bot': 17,
  'other': 1},
 'analysis 2': {'no_om_source': 35472,
  'adwords': 24463,
  'nestpick': 6074,
  'facebook': 2141,
  'trovit': 2086,
  'hometogo': 1767,
  'mitula': 1086,
  'rentberry': 426,
  'criteo': 398,
  'bing': 393,
  'immosuchmaschine': 296,
  'cityads': 271,
  'immowelt': 263,
  'immobilienscout': 232,
  'iamexpat': 184,
  'email_mc': 117,
  'idealista': 85,
  'enalquiler': 57,
  'landlord-contact': 32,
  'mitula-be': 8,
  'Fotocasa': 3,
  'holidu': 3,
  'sublet': 3,
  'instagram': 1}}

In [17]:
df2['datetime'] = pd.to_datetime(df2['datetime'])

In [18]:
seconds = ((df2.groupby(['visitor_id','session_id'])['datetime'].last()) - (df2.groupby(['visitor_id','session_id'])['datetime'].first())).apply(lambda x : x.seconds )

In [19]:
seconds

visitor_id                                session_id
000727d438a0e2c05f6572373e74ee71c79d248b  000727d438a0e2c05f6572373e74ee71c79d248b        0
                                          fdedad529c323bda183f6f0f5853e42da1d7ce86       21
00464d1e43c3de4bff653fcb75befb6f0a47ad9b  00464d1e43c3de4bff653fcb75befb6f0a47ad9b    86383
004da9a8ea34b132bb8cb2f78899c74ced50a940  004da9a8ea34b132bb8cb2f78899c74ced50a940    86399
006a04c1563882e9c7d11d28c8f9d09500ea1e67  005bd232b11eb192a669a68f27bb1408e87dff7e        1
                                                                                      ...
ffacc6e843733f9034deef1ae4ccaf05d79a065b  3e703fc64486648f21f6960cf63af4133a810166    86378
ffd3b0c4189d2bb7c1aecd73d0d924f230a3de83  eabcc600f64760ea2fdce4c69124d2362c45ab87      341
                                          ffd3b0c4189d2bb7c1aecd73d0d924f230a3de83        2
ffe7deadae038a7b488a00ee5ff33fd64276a60a  11ffc97c0d45628ed1b171744820badfe84c1a9e    86394
                                          ffe7deadae038a7b488a00ee5ff33fd64276a60a    86385
Name: datetime, Length: 3638, dtype: int64

In [20]:
df3 = df2[(df2["session_id"].isin(list(data[1] for data in seconds[seconds <= 5].index))) &
         (df2["visitor_id"].isin(list(data[0] for data in seconds[seconds <= 5].index)))]
df3

,datetime,session_id,visitor_id,is_internal_ip,page_type,event_type,params,om_source,device_class,env
0,2021-01-23 11:57:09.286000+00:00,56b8ee8e3467edb774252ddeec6d9243e13b5fc9,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_gallery_opened,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",no_om_source,phone,production
1,2021-01-23 11:57:02.303000+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_date_init,"{""event_content"":{""start"":""2021-08-01"",""end"":""...",nestpick,phone,production
2,2021-01-23 11:57:01.873999+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",nestpick,phone,production
3,2021-01-23 11:57:02.028000+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",nestpick,phone,production
4,2021-01-23 11:57:04.349000+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,cookie_banner_all_cookies,"{""page"":{""title"":""EXKLUSIVE WOHNUNG SALAMANCA ...",nestpick,phone,production
...,...,...,...,...,...,...,...,...,...,...
76189,2021-01-23 11:33:35.824000+00:00,abe1941f848f424cb9b4468f1dbb9a8f3b28e1fd,abe1941f848f424cb9b4468f1dbb9a8f3b28e1fd,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""Modern 2 ...",facebook,phone,production
76275,2021-01-23 12:23:56.753000+00:00,358257b9d34c4492171098fccff8a17de1ac8dda,358257b9d34c4492171098fccff8a17de1ac8dda,False,cms,page_view,"{""event_content"":{},""page"":{""page_type"":""cms""}}",adwords,phone,production
76279,2021-01-23 13:06:11.945000+00:00,affe887f7b7fc8a13d102880158ec229abd03b9c,affe887f7b7fc8a13d102880158ec229abd03b9c,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""Extravaga...",facebook,phone,production
76281,2021-01-23 13:06:11.945000+00:00,affe887f7b7fc8a13d102880158ec229abd03b9c,affe887f7b7fc8a13d102880158ec229abd03b9c,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",facebook,phone,production
76282,2021-01-23 13:06:14.258999+00:00,affe887f7b7fc8a13d102880158ec229abd03b9c,affe887f7b7fc8a13d102880158ec229abd03b9c,False,apartment_view,cookie_banner_all_cookies,"{""page"":{""title"":""Extravagant living at the Ma...",facebook,phone,production

In [21]:
len(df3)

7587

In [22]:
output.update({"analysis 3":len(df3)})
output

{'analysis 1': {'phone': 42968,
  'desktop': 30924,
  'tablet': 1951,
  'bot': 17,
  'other': 1},
 'analysis 2': {'no_om_source': 35472,
  'adwords': 24463,
  'nestpick': 6074,
  'facebook': 2141,
  'trovit': 2086,
  'hometogo': 1767,
  'mitula': 1086,
  'rentberry': 426,
  'criteo': 398,
  'bing': 393,
  'immosuchmaschine': 296,
  'cityads': 271,
  'immowelt': 263,
  'immobilienscout': 232,
  'iamexpat': 184,
  'email_mc': 117,
  'idealista': 85,
  'enalquiler': 57,
  'landlord-contact': 32,
  'mitula-be': 8,
  'Fotocasa': 3,
  'holidu': 3,
  'sublet': 3,
  'instagram': 1},
 'analysis 3': 7587}

In [23]:
df4 = df2.sort_values(['datetime']).groupby(['visitor_id','session_id'])

In [24]:

df5 = df4['page_type'].first()
df5= df5.reset_index()
df5.head

<bound method NDFrame.head of                                     visitor_id  \
0     000727d438a0e2c05f6572373e74ee71c79d248b
1     000727d438a0e2c05f6572373e74ee71c79d248b
2     00464d1e43c3de4bff653fcb75befb6f0a47ad9b
3     004da9a8ea34b132bb8cb2f78899c74ced50a940
4     006a04c1563882e9c7d11d28c8f9d09500ea1e67
...                                        ...
3633  ffacc6e843733f9034deef1ae4ccaf05d79a065b
3634  ffd3b0c4189d2bb7c1aecd73d0d924f230a3de83
3635  ffd3b0c4189d2bb7c1aecd73d0d924f230a3de83
3636  ffe7deadae038a7b488a00ee5ff33fd64276a60a
3637  ffe7deadae038a7b488a00ee5ff33fd64276a60a

                                    session_id       page_type
0     000727d438a0e2c05f6572373e74ee71c79d248b             cms
1     fdedad529c323bda183f6f0f5853e42da1d7ce86  apartment_view
2     00464d1e43c3de4bff653fcb75befb6f0a47ad9b     search_page
3     004da9a8ea34b132bb8cb2f78899c74ced50a940  apartment_view
4     005bd232b11eb192a669a68f27bb1408e87dff7e  apartment_view
...                                        ...             ...
3633  3e703fc64486648f21f6960cf63af4133a810166  apartment_view
3634  eabcc600f64760ea2fdce4c69124d2362c45ab87     search_page
3635  ffd3b0c4189d2bb7c1aecd73d0d924f230a3de83     search_page
3636  11ffc97c0d45628ed1b171744820badfe84c1a9e     search_page
3637  ffe7deadae038a7b488a00ee5ff33fd64276a60a     search_page

[3638 rows x 3 columns]>

In [25]:
df5[df5['page_type']=='search_page'].count()

visitor_id    1614
session_id    1614
page_type     1614
dtype: int64

In [26]:
output.update({"analysis 3a":df5[df5['page_type']=='search_page'].count().to_dict()})
output

{'analysis 1': {'phone': 42968,
  'desktop': 30924,
  'tablet': 1951,
  'bot': 17,
  'other': 1},
 'analysis 2': {'no_om_source': 35472,
  'adwords': 24463,
  'nestpick': 6074,
  'facebook': 2141,
  'trovit': 2086,
  'hometogo': 1767,
  'mitula': 1086,
  'rentberry': 426,
  'criteo': 398,
  'bing': 393,
  'immosuchmaschine': 296,
  'cityads': 271,
  'immowelt': 263,
  'immobilienscout': 232,
  'iamexpat': 184,
  'email_mc': 117,
  'idealista': 85,
  'enalquiler': 57,
  'landlord-contact': 32,
  'mitula-be': 8,
  'Fotocasa': 3,
  'holidu': 3,
  'sublet': 3,
  'instagram': 1},
 'analysis 3': 7587,
 'analysis 3a': {'visitor_id': 1614, 'session_id': 1614, 'page_type': 1614}}

In [27]:
df6 = df4['page_type'].last()
df6= df6.reset_index()
df6[df6['page_type']=='apartment_view'].count()

visitor_id    1594
session_id    1594
page_type     1594
dtype: int64

In [28]:
output.update({"analysis 3b":df6[df6['page_type']=='apartment_view'].count().to_dict()})
output

{'analysis 1': {'phone': 42968,
  'desktop': 30924,
  'tablet': 1951,
  'bot': 17,
  'other': 1},
 'analysis 2': {'no_om_source': 35472,
  'adwords': 24463,
  'nestpick': 6074,
  'facebook': 2141,
  'trovit': 2086,
  'hometogo': 1767,
  'mitula': 1086,
  'rentberry': 426,
  'criteo': 398,
  'bing': 393,
  'immosuchmaschine': 296,
  'cityads': 271,
  'immowelt': 263,
  'immobilienscout': 232,
  'iamexpat': 184,
  'email_mc': 117,
  'idealista': 85,
  'enalquiler': 57,
  'landlord-contact': 32,
  'mitula-be': 8,
  'Fotocasa': 3,
  'holidu': 3,
  'sublet': 3,
  'instagram': 1},
 'analysis 3': 7587,
 'analysis 3a': {'visitor_id': 1614, 'session_id': 1614, 'page_type': 1614},
 'analysis 3b': {'visitor_id': 1594, 'session_id': 1594, 'page_type': 1594}}

In [29]:
df7 = df2.sort_values(['datetime']).groupby(['visitor_id'])

In [30]:
count = 0
for i,j in df7:
    
    if j['page_type'].values[0]== 'search_page' and 'apartment_view' in j['page_type'].values:
        count +=1
        
count

294

In [31]:
output.update({"analysis 4":count})
output

{'analysis 1': {'phone': 42968,
  'desktop': 30924,
  'tablet': 1951,
  'bot': 17,
  'other': 1},
 'analysis 2': {'no_om_source': 35472,
  'adwords': 24463,
  'nestpick': 6074,
  'facebook': 2141,
  'trovit': 2086,
  'hometogo': 1767,
  'mitula': 1086,
  'rentberry': 426,
  'criteo': 398,
  'bing': 393,
  'immosuchmaschine': 296,
  'cityads': 271,
  'immowelt': 263,
  'immobilienscout': 232,
  'iamexpat': 184,
  'email_mc': 117,
  'idealista': 85,
  'enalquiler': 57,
  'landlord-contact': 32,
  'mitula-be': 8,
  'Fotocasa': 3,
  'holidu': 3,
  'sublet': 3,
  'instagram': 1},
 'analysis 3': 7587,
 'analysis 3a': {'visitor_id': 1614, 'session_id': 1614, 'page_type': 1614},
 'analysis 3b': {'visitor_id': 1594, 'session_id': 1594, 'page_type': 1594},
 'analysis 4': 294}

In [32]:
df8 = df2.groupby(['visitor_id'])
evnt_user = 0
for i in df8:
    j,k = i
    
    if 'click_book-now' in k['event_type'].values:
        evnt_user +=1
evnt_user

54

In [33]:
output.update({"analysis 5":evnt_user})
output

{'analysis 1': {'phone': 42968,
  'desktop': 30924,
  'tablet': 1951,
  'bot': 17,
  'other': 1},
 'analysis 2': {'no_om_source': 35472,
  'adwords': 24463,
  'nestpick': 6074,
  'facebook': 2141,
  'trovit': 2086,
  'hometogo': 1767,
  'mitula': 1086,
  'rentberry': 426,
  'criteo': 398,
  'bing': 393,
  'immosuchmaschine': 296,
  'cityads': 271,
  'immowelt': 263,
  'immobilienscout': 232,
  'iamexpat': 184,
  'email_mc': 117,
  'idealista': 85,
  'enalquiler': 57,
  'landlord-contact': 32,
  'mitula-be': 8,
  'Fotocasa': 3,
  'holidu': 3,
  'sublet': 3,
  'instagram': 1},
 'analysis 3': 7587,
 'analysis 3a': {'visitor_id': 1614, 'session_id': 1614, 'page_type': 1614},
 'analysis 3b': {'visitor_id': 1594, 'session_id': 1594, 'page_type': 1594},
 'analysis 4': 294,
 'analysis 5': 54}

In [34]:
user_count = 0
for i,j in df7:
    
    if j['page_type'].values[0]== 'search_page' and 'request_draft-created' in j['event_type'].values:
        user_count +=1
        
user_count

10

In [35]:
output.update({"analysis 6":user_count})
output

{'analysis 1': {'phone': 42968,
  'desktop': 30924,
  'tablet': 1951,
  'bot': 17,
  'other': 1},
 'analysis 2': {'no_om_source': 35472,
  'adwords': 24463,
  'nestpick': 6074,
  'facebook': 2141,
  'trovit': 2086,
  'hometogo': 1767,
  'mitula': 1086,
  'rentberry': 426,
  'criteo': 398,
  'bing': 393,
  'immosuchmaschine': 296,
  'cityads': 271,
  'immowelt': 263,
  'immobilienscout': 232,
  'iamexpat': 184,
  'email_mc': 117,
  'idealista': 85,
  'enalquiler': 57,
  'landlord-contact': 32,
  'mitula-be': 8,
  'Fotocasa': 3,
  'holidu': 3,
  'sublet': 3,
  'instagram': 1},
 'analysis 3': 7587,
 'analysis 3a': {'visitor_id': 1614, 'session_id': 1614, 'page_type': 1614},
 'analysis 3b': {'visitor_id': 1594, 'session_id': 1594, 'page_type': 1594},
 'analysis 4': 294,
 'analysis 5': 54,
 'analysis 6': 10}

In [36]:
import json

In [37]:
cust_1200 = 0
for i in df8:
    j,k = i
    
    for params in k['params']:
        try:
        #print(params,j)
            params_dict =json.loads(str(params))

            page = params_dict['page']
            if page['page_type'] != 'search_page': 
                if 'currency' in page.keys() and 'price' in page.keys():
                    if (page['currency'] == "EUR") and (page['price'] > 1200):
                        cust_1200 +=1
        except ValueError as e: 
            pass
            #if "'page_type': 'apartment_view'" in params:
                
                    
        
        
cust_1200

10822

In [38]:
output.update({"analysis 7":cust_1200})
output

{'analysis 1': {'phone': 42968,
  'desktop': 30924,
  'tablet': 1951,
  'bot': 17,
  'other': 1},
 'analysis 2': {'no_om_source': 35472,
  'adwords': 24463,
  'nestpick': 6074,
  'facebook': 2141,
  'trovit': 2086,
  'hometogo': 1767,
  'mitula': 1086,
  'rentberry': 426,
  'criteo': 398,
  'bing': 393,
  'immosuchmaschine': 296,
  'cityads': 271,
  'immowelt': 263,
  'immobilienscout': 232,
  'iamexpat': 184,
  'email_mc': 117,
  'idealista': 85,
  'enalquiler': 57,
  'landlord-contact': 32,
  'mitula-be': 8,
  'Fotocasa': 3,
  'holidu': 3,
  'sublet': 3,
  'instagram': 1},
 'analysis 3': 7587,
 'analysis 3a': {'visitor_id': 1614, 'session_id': 1614, 'page_type': 1614},
 'analysis 3b': {'visitor_id': 1594, 'session_id': 1594, 'page_type': 1594},
 'analysis 4': 294,
 'analysis 5': 54,
 'analysis 6': 10,
 'analysis 7': 10822}

In [39]:
cust1_1200 = 0
for i in df8:
    j,k = i
    
    for params in k['params']:
        try:
        #print(params,j)
            params_dict =json.loads(str(params))

            page = params_dict['page']
            if page['page_type'] != 'search_page': 
                if 'currency' in page.keys() and 'price' in page.keys():
                    if (page['currency'] == "EUR") and (page['price'] < 1200):
                        cust1_1200 +=1
        except ValueError as e: 
            pass
            #if "'page_type': 'apartment_view'" in params:
                
                    
        
        
cust1_1200

13466

In [40]:
request_id = 0
for i in df8:
    j,k = i
    
    for params in k['params']:
        try:
        #print(params,j)
            #params = params.replace(r":null", '"0"')
            params_dict =json.loads(str(params))

            page = params_dict['page']
            #if page['page_type'] != 'search_page': 
            if 'request_id' in page.keys()  :
                if page["request_id"]:
                    request_id +=1
                    break
        except ValueError as e: 
            #pass
            if 'request_id' in params:
                print(params,type(params))
                request_id +=1
                break
                    
        
        
request_id

25

In [41]:
output.update({"analysis 8":request_id})
output

{'analysis 1': {'phone': 42968,
  'desktop': 30924,
  'tablet': 1951,
  'bot': 17,
  'other': 1},
 'analysis 2': {'no_om_source': 35472,
  'adwords': 24463,
  'nestpick': 6074,
  'facebook': 2141,
  'trovit': 2086,
  'hometogo': 1767,
  'mitula': 1086,
  'rentberry': 426,
  'criteo': 398,
  'bing': 393,
  'immosuchmaschine': 296,
  'cityads': 271,
  'immowelt': 263,
  'immobilienscout': 232,
  'iamexpat': 184,
  'email_mc': 117,
  'idealista': 85,
  'enalquiler': 57,
  'landlord-contact': 32,
  'mitula-be': 8,
  'Fotocasa': 3,
  'holidu': 3,
  'sublet': 3,
  'instagram': 1},
 'analysis 3': 7587,
 'analysis 3a': {'visitor_id': 1614, 'session_id': 1614, 'page_type': 1614},
 'analysis 3b': {'visitor_id': 1594, 'session_id': 1594, 'page_type': 1594},
 'analysis 4': 294,
 'analysis 5': 54,
 'analysis 6': 10,
 'analysis 7': 10822,
 'analysis 8': 25}